.carousel-container {
  position: relative;
  width: 85%;
  height: 85%;
  margin: auto;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
  max-width: 100%;
}

.carousel-images img {
  flex: 0 0 100%;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  object-fit: contain;
  display: block;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.carousel-button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

.carousel-button i {
  font-size: 1.5rem;
}

.carousel-captions {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  font-size: 1rem;
  position: relative;
  bottom: 10px;
  margin-top: -20px;
  z-index: 5;
  width: 100%;
}

/* Responsive Design */

/* For screens smaller than 850px */
@media (max-width: 850px) {
  .carousel-container {
    width: 100%;
    height: auto;
  }

  .carousel-images img {
    max-height: 50vh;
  }

  .carousel-button {
    padding: 8px;
  }

  .carousel-button i {
    font-size: 1.2rem;
  }
}

/* For screens smaller than 480px */
@media (max-width: 480px) {
  .carousel-container {
    width: 100%;
    height: auto;
  }

  .carousel-images img {
    max-height: 40vh;
  }

  .carousel-button {
    padding: 6px;
  }

  .carousel-button i {
    font-size: 1rem;
  }
}
