* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 200;
    margin: 0;
    padding: 0;
    color: #d3d3d3;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.main-content {
    flex-grow: 1;
    margin-left: 20vw;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

.main-content p {
    padding-left: 2%;
    padding-right: 2%;
}

.sidebar {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    height: 100%;
    width: 20vw;
    position: fixed;
    padding: 20px 0;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.06);
    overflow-y: auto;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar nav ul li {
    text-align: left;
    margin-bottom: 10px;
}

.sidebar nav ul li a {
    color: #a5a5a5;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    word-wrap: break-word;
}

.sidebar ul li a i {
    width: 30px;
    text-align: left;
    margin-right: 8px;
}

.sidebar nav ul li a:hover {
    background-color: rgba(66, 66, 66, 0.50);
}

.sidebar ul li a:hover i {
    color: #000000;
}

footer {
    text-align: center;
    padding: 10px 10px;
    color: #d3d3d3;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}

header {
    text-align: center;
    padding: 10px 0;
}

header h1,
footer p {
    margin: 0;
}

a {
    color: #AAA;
}

a:hover {
    color: #33ccff;
}

.code {
    background: rgba(13, 13, 13, 0.75);
    font-family: 'Courier New', Courier, monospace;
    padding: 15px 20px;
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;
}

/* Responsive Design */

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        max-height: 13vh;
        position: relative;
        text-align: left;
    }

    .sidebar nav ul li {
        display: inline-block;
        margin: 0;
    }

    .sidebar nav ul li a {
        font-size: 0.9em;
        padding: 10px;
    }

    .main-content {
        margin-left: 0;
        padding: 10px;
        height: auto;
    }

    footer {
        position: relative;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .sidebar nav ul li {
        display: block;
    }

    .sidebar nav ul li a {
        font-size: 0.8em;
        padding: 8px;
    }

    main {
        padding: 5px;
    }

    p {
        font-size: 0.9em;
    }
}