<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nathaniel Wise</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<link rel="me" href="https://mastodon.social/@nathanieljwise">
<link rel="me" href="https://theforkiverse.com/@nathanieljwise">
<body>
    <div class="wrapper">
        <div class="sidebar">
            <nav>
                <ul>
                    <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                    <li><a href="/experience"><i class="fas fa-clipboard"></i> Experience</a></li>
                    <li><a href="/rsa"><i class="fas fa-key"></i> Public Keys</a></li>
                    <li><a href="/nowprinting"><i class="fas fa-layer-group"></i> 3D Printer</a></li>
                    <li><a href="/gallery"><i class="fas fa-camera"></i> Gallery</a></li>
                    <li><a href="/about"><i class="fas fa-info"></i> About</a></li>
                </ul>
            </nav>

            <div class="sidebar-logo">
                <a href="https://github.com/nathanieljwise/nathanieljwise_com" target="_blank" rel="noopener noreferrer">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
                </a>
            </div>
        </div>

        <div class="main-content">
            <main>
                {% block content %}
                {% endblock %}
            </main>

            {% block extra_styles %}
            {% endblock %}
            
            <footer>
                <p>
                    &copy; 2024 Nathaniel Wise
                </p>
            </footer>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
