{% extends 'base.html' %}

{% block content %}
<p>Below is a detailed list of courses. Click to expand and view the table.</p>
<details>
    <summary>Course List</summary>
    <table border="1">
        <thead>
            <tr>
                <th>Course Number</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>RUSS 101</td>
                <td>Basic Russian I</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Emphasis on structure, comprehension, speaking skills and reading skills.
                    Exposure to idiomatic Russian language, as well as an introduction to
                    Russian culture and society.
                </td>
            </tr>
            <tr>
                <td>CMSC 201</td>
                <td>Computer Science I</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Introduction to computer science through problem solving and computer
                    programming. Covered control structures, functions, lists, strings, abstract
                    data types, file I/O, and recursion. Programming techniques covered include
                    modularity, abstraction, top-down design, specifications documentation,
                    debugging and testing.
                </td>
            </tr>
            <tr>
                <td>CMSC 202</td>
                <td>Computer Science II</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Introduction to object-oriented design and programming (OOP) focusing on OOP
                    principles and techniques, including encapsulation, composition, inheritance,
                    and polymorphism. Other OOP topics such as exception handling, containers, and
                    generic programming are also covered.
                </td>
            </tr>
            <tr>
                <td>CMSC 203</td>
                <td>Discrete Structures</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Introduction to the fundamental tools, topics and concepts of discrete
                    mathematics needed to study computer science. Emphasizes counting methods, proof
                    techniques and problem-solving strategies. Topics include Boolean algebra; set
                    theory; symbolic logic; predicate calculus; number theory; the methods of
                    direct, indirect and inductive proofs; objective functions; equivalence
                    relations; graphs; set partitions; combinatorics; modular arithmetic;
                    summations; and recurrences.
                </td>
            </tr>
            <tr>
                <td>MATH 221</td>
                <td>Introduction to Linear Algebra</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Covered linear equations, Gauss-Jordan reduction, matrices and determinants and
                    their properties, vector spaces and subspaces, basis and dimension, linear
                    transformations, kernel and range, eigenvalues and eigenvectors, and matrix
                    diagonalization.
                </td>
            </tr>
            <tr>
                <td>CMSC 304</td>
                <td>Ethical Issues in Information Technology</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Survey course that reviews social issues and the ethical impact of information
                    technology throughout the world. Examined the policy issues that relate to the
                    use of information technology, such as persona, privacy, rights of access,
                    security, transborder information flow and confidentiality.
                </td>
            </tr>
            <tr>
                <td>CMSC 341</td>
                <td>Data Structures</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Examination of a range of advanced data structures, with an emphasis on an
                    object-oriented approach. Topics included asymptotic analysis, various binary
                    search trees,skip lists as alternatives to binary search trees, data structures
                    for multidimensional data, heaps and priority queues, B-trees for external
                    storage, hash tables, and disjoint sets. Projects focusing on implementation
                    issues for data structures and on empirical analysis of asymptotic performance.
                </td>
            </tr>
            <tr>
                <td>CMSC 313</td>
                <td>Computer Organization & Assembly Language Programming</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Introduction to the low-level abstraction of a computer system from a
                    programmer's point of view, with an emphasis on low-level programming. Topics
                    include data representation, assembly language programming, C programming, the
                    process of compiling and linking, low-level memory management, exceptional
                    control flow, and basic processor architecture.
                </td>
            </tr>
            <tr>
                <td>CMSC 331</td>
                <td>Principles of Programming Language</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Examined the theory, design and implementation of programming languages. Topics
                    include specifications of syntax and semantics, declarations, binding,
                    allocation, data structures, data types, control structures, control and data
                    flow, concurrency, and the implementation and execution of programs. Explored
                    major language paradigms, including imperative, object-oriented, functional,
                    logic programming, concurrent and others.
                </td>
            </tr>
            <tr>
                <td>STAT 355</td>
                <td>Intro to Probability & Statistics for Scientists & Engineers</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Introduction to applied statistics designed for science majors. Topics included
                    nature of statistical methods, random variables and their distribution
                    functions, and general principles of estimation and hypothesis testing.
                </td>
            </tr>
            <tr>
                <td>CMSC 441</td>
                <td>Design & Analysis of Algorithms</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Studied fundamental algorithms, strategies for designing algorithms, and
                    mathematical tools for analyzing algorithms. Fundamental algorithms studied in
                    this course include algorithms for sorting and searching, hashing, and graph
                    algorithms. Mathematical tools include asymptotic notations and methods for
                    solving recurrences. Algorithm design strategies included the greedy method,
                    divide-and-conquer, dynamic programming, and randomization.
                </td>
            </tr>
            <tr>
                <td>CMSC 421</td>
                <td>Principles of Operating Systems</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Introduction to the fundamentals of operating systems. Topics include
                    interprocess communication, process scheduling, deadlock, memory management,
                    virtual memory, file systems and distributed systems. Formal principles are
                    illustrated with examples and case studies of one or more contemporary operating
                    systems.
                </td>
            </tr>
            <tr>
                <td>CMSC 426</td>
                <td>Principles of Computer Security</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Introduction to computer security, with specific focus on the computing aspects.
                    Topics covered will include basics of computer security including an overview of
                    threat, attack, and adversary models; social engineering; essentials of
                    cryptography; traditional computing security models; malicious software; secure
                    programming; operating system security in practice; trusted operating system
                    design; public policy issues including legal, privacy, and ethical issues;
                    network and database security overview.
                </td>
            </tr>
            <tr>
                <td>CMSC 481</td>
                <td>Computer Networks</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Introduction to the fundamentals of data communication and computer networking,
                    including circuit and packet switching, network architectures and protocols,
                    local/metropolitan/wide-area networks, OSI and TCP/IP standards, network
                    programming and applications, and network management.
                </td>
            </tr>
            <tr>
                <td>CMSC 411</td>
                <td>Computer Architecture</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Design of complex computer systems making heavy use of the components and
                    techniques discussed in other courses. Discussed in detail all parts of the
                    computer system - CPU, memory and input/output. Topics include information
                    representation, floating-point arithmetic, instructions set design issues (RISC
                    vs. CISC), microprogrammed control, hardwired control, pipelining, memory
                    caches, bus control and timing, input/output mechanism and issues in the
                    construction of parallel processors.
                </td>
            </tr>
            <tr>
                <td>CMSC 447</td>
                <td>Software Engineering I</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Introduction to the basic concepts of software engineering, including software
                    life cycle, requirements analysis and software design methods. Professional
                    ethics in computer science and the social impact of computing are discussed as
                    an integral part of the software development process. Additional topics may
                    include tools for software development, software testing, software metrics and
                    software maintenance.
                </td>
            </tr>
            <tr>
                <td>CMSC 449</td>
                <td>Malware Analysis</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Introduction to sophisticated malware attacks through analysis of malware with
                    both static and dynamic methods. Provided a foundation for understanding
                    emerging trends in malware designs, including efforts to deter analysis. Through
                    discussion and hands-on projects, covered object file formats, and the use of
                    tools such as debuggers, virtual machines, and disassemblers, as well as
                    obfuscation and packing schemes and various issues related to operating systems
                    internals.
                </td>
            </tr>
            <tr>
                <td>CMSC 487</td>
                <td>Introduction To Network Security</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Covered the fundamental concepts, architectures, and protocols related to
                    network security. Topics covered include: Overview of network security, basics
                    of cryptography, threat models, authentication and authorization mechanisms and
                    standards, public key infrastructure, email security, network layer lecurity,
                    transport layer and web security, packet filtering, firewalls, intrusion
                    detection, and virtual private networks, as well as recent topics in Network
                    Security.
                </td>
            </tr>
            <tr>
                <td>CMSC 491</td>
                <td>Seminar in Active Cyberdefense</td>
            </tr>
            <tr>
                <td></td>
                <td>

                </td>
            </tr>
        </tbody>
    </table>
</details>
{% endblock %}

{% block extra_styles %}
<style>
    body {
        /* https://unsplash.com/photos/black-and-gray-staircase-K9QHL52rE2k */
        background-image: url('/static/img/backgrounds/experience_bg.jpg');
    }

    table {
        width: 100%;
        margin: 20px auto;
        border-collapse: collapse;
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        color: #d3d3d3;
        background: rgba(255, 255, 255, 0.06);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    th,
    td {
        border: 2px solid #333;
        padding: 10px 15px;
        text-align: justify;
    }

    th {
        background-color: rgba(66, 66, 66, 0.8);
        font-weight: bold;
        color: #fff;
    }

    tr:nth-child(even) {
        background-color: rgba(66, 66, 66, 0.5);
    }

    tr:hover {
        background-color: rgba(66, 66, 66, 0.75);
        color: #fff;
    }

    td[colspan="2"] {
        background-color: rgba(66, 66, 66, 0.5);
    }

    details {
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        font-size: 20px;
        color: #d3d3d3;
        margin: 20px auto;
        width: 80%;
    }

    details[open] summary {
        font-weight: bold;
        color: #FFFFFF;
    }

    summary {
        cursor: pointer;
        padding: 10px;
        background: rgba(66, 66, 66, 0.5);
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    summary:hover {
        background: rgba(66, 66, 66, 0.8);
    }

    table {
        margin-top: 0px;
    }
</style>
{% endblock %}