{% extends "base.html" %}

{% block content %}
<div class="carousel-container">
    <button class="carousel-button left" onclick="prevImage()">
        <i class="fas fa-caret-left"></i>
    </button>
    <div class="carousel-images" id="carousel-images">
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/gallery/image1.jpg') }}" 
            alt="Yellow and white trout lilies against an out of focus background.">
            <p class="carousel-caption">Trout Lilies at the University of 
                British Columbia Botanical Gardens in Vancouver, BC. [Film: 
                Fujifilm Velvia 50.]
            </p>
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/gallery/image2.jpg') }}" 
            alt="A black and white photo of a daisy">
            <p class="carousel-caption">Daisy in Patapsco Valley State Park,
                Maryland. [Film: Kodak Tri-X 400.]
            </p>
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/gallery/image3.jpg') }}"
            alt="A squirrel in a tree eating a nut.">
            <p class="carousel-caption">Squirrel at Wright Park, Tacoma, WA.
                I didn't record the film for this scan but the lens is a 500mm 
                catadiatropic lens, giving the interesting bokeh in the background.
            </p>
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/gallery/image4.jpg') }}" 
            alt="A black and white vertical panoramic photo of a bridge with 
            visible film sprocket holes.">
            <p class="carousel-caption">Hanover Street Bridge, Baltimore, MD. The 
                Sprocket Rocket camera is nicely suited for panoramic shots 
                like this. [Film: Ilford HP5 Plus.]
            </p>
        </div>
    </div>
    <button class="carousel-button right" onclick="nextImage()">
        <i class="fas fa-caret-right"></i>
    </button>
</div>

<div style="text-align: justify;">
    I'm an amateur film photographer, shooting mainly with my trusty Minolta
    X-700 but also occasionally a Lomography Sprocket Rocket. When possible,
    I develop and scan my own film. Here's just a few of my favorites that
    I've taken over the years.
</div>
{% endblock %}

{% block extra_styles %}
<style>
    body {
        /* https://unsplash.com/photos/a-black-and-white-photo-of-sand-and-water-u34JNBOIQ10 */
        background-image: url('/static/img/backgrounds/gallery_bg.jpg');
    }
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/carousel.css') }}">
<script>
    let currentIndex = 0;

    function showImage(index) {
        const carousel = document.getElementById('carousel-images');
        const totalImages = carousel.children.length;
        if (index >= totalImages) currentIndex = 0;
        else if (index < 0) currentIndex = totalImages - 1;
        else currentIndex = index;
        const offset = -currentIndex * 100; // Move entire `.carousel-item`
        carousel.style.transform = `translateX(${offset}%)`;
    }

    function nextImage() {
        showImage(currentIndex + 1);
    }

    function prevImage() {
        showImage(currentIndex - 1);
    }
</script>
{% endblock %}