{% extends 'base.html' %}

{% block content %}
                <header><h1>Welcome</h1></header>
                <p>
                    I'm an MRI technologist in Maryland, with over 8 years of experience in the field. I've 
                    worked in a variety of team and department settings, from small outpatient clinics to 
                    the inpatient department of large hospitals. Working equally well as a solo 
                    technologist, or as part of a larger imaging team, I skillfully deliver high quality imaging 
                    results to radiologists and ordering providers, while providing a safe and comfortable 
                    experience for my patients.
                </p>
                <p>
                    In my spare time I am pursuing a Bachelor's degree in Computer Science from the 
                    University of Maryland, Baltimore County, with a focus in Cybersecurity. Both my 
                    formal education and personal hobby projects have given me experience in C/C++, 
                    Python, HTML and CSS, git, and various Linux distros, as well as some exposure to x86 
                    Assembly, Java, Javascript, and various other toolkits and workflows. 
                </p>
{% endblock %}

{% block extra_styles %}
            <style>
                body {
                    /* https://unsplash.com/photos/a-black-and-white-photo-of-a-tunnel-72aEtYlS5K0 */
                    background-image: url('/static/img/index_bg.jpg');
                }
            </style>
{% endblock %}