{% extends 'base.html' %}

{% block content %}
<header>
    <h1>Welcome</h1>
</header>
<div style="text-align: justify;">
    <p>
        I'm an MRI technologist in Maryland with a decade of experience in the field. I've
        worked in a variety of team and department settings, from small outpatient clinics to
        the inpatient department of large hospitals. Working equally well as a solo technologist
        or as part of a larger imaging team, I skillfully deliver high quality imaging results to
        radiologists and ordering providers, while providing a safe and comfortable experience for
        my patients.
    </p>
    <p>
        Recently, I graduated <i>magna cum laude</i> from the University of Maryland, Baltimore
        County, with a Bachelor's degree in Cybersecurity. Both my formal education and personal
        hobby projects have given me experience in C/C++, Python, HTML and CSS, git, and various
        Linux distros, as well as exposure to x86 Assembly, Java, Javascript, and various other
        workflows and toolkits including Ghidra, IDA, WinDbg, the GNU Debugger, and more.
    </p>
</div>
{% endblock %}

{% block extra_styles %}
<style>
    body {
        /* https://unsplash.com/photos/a-black-and-white-photo-of-a-black-background-VbC-EiOTDqA */
        background-image: url('/static/img/backgrounds/index_bg.jpg');
    }
</style>
{% endblock %}
