{% extends "base.html" %}

{% block content %}
<div class="carousel-container">

    <div class="carousel-images" id="carousel-images">
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/printer/latest_printer_image.jpg') }}?t={{ now}}" alt="Latest Ender 3 image">
	<br /> This is a static image that updates every 60 seconds.
        </div>
    </div>

</div>
{% endblock %}

{% block extra_styles %}
<style>
    body {
        /* https://unsplash.com/photos/a-black-and-white-photo-of-a-bunch-of-lines-WNs0bW8kHTM */
        background-image: url('/static/img/backgrounds/printer_bg.jpg');
    }
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/carousel.css') }}">

{% endblock %}
